.payment_option{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black */
    margin: 10px;
    border-radius: 10px;
    font-size: larger;
    font-weight: 600;
    color: rgb(2, 2, 2);
   cursor: pointer;
   transition: all 0.2s ease-in-out;
  
}
.option_border{
    border: 2px solid green;
    transform: scale(0.90);
    box-shadow: 5px 5px 20px green;
    transition: all 0.15s ease-in-out;
}